/Source/*.launch
/Source/deployment/
/Source/packages/
/Source/releases/
/Source/theme-cache/
/Source/.mendix-cache/
/Source/.classpath
/Source/.project
/Source/expenserequeststarterapp.mpr.bak
/Source/expenserequeststarterapp.mpr.lock
/Source/modeler-merge-marker
/Source/project-settings.user.json
/Source/javasource/*/proxies/
/Source/javasource/system/
/Source/**/node_modules/
!/Source/javascriptsource/**/node_modules/
/Source/nativemobile/builds/
/Source/vendorlib/temp/
/Source/.DS_Store
