// Default variables
@import "../../atlas_core/web/variables";
@import "../../../theme/web/custom-variables";

// Page templates

// Shared
@import "shared/badges";
@import "shared/timeline";
@import "shared/truncating-groupbox";
@import "shared/listview-fix";

// Page templates
@import "templates/workflows-i-initiated-overview";