@use "../../theme/web/custom-variables.scss" as module0;
@use "../../themesource/administration/web/main.scss" as module1;
@use "../../themesource/taskqueuehelpers/web/main.scss" as module2;
@use "../../themesource/unittesting/web/main.scss" as module3;
@use "../../themesource/workflowcommons/web/main.scss" as module4;
@use "../../themesource/atlas_core/web/main.scss" as module5;
@use "../../themesource/atlas_web_content/web/main.scss" as module6;
@use "../../themesource/datawidgets/web/main.scss" as module7;
@use "../../themesource/expenserequestexample/web/main.scss" as module8;
@use "../../themesource/workflowcommonsunittests/web/main.scss" as module9;
@use "../../theme/web/main.scss" as module10;